<a href="https://colab.research.google.com/github/LakshanJayawardana/RechargeYourPython/blob/main/%5BRecharge_your_Python%5D_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/15.csv')

In [ ]:
df.head()

             Timestamp  TestID     P1 P2   P3
0  2023-04-12 05:57:54  T15001  False  B  211
1  2023-04-12 05:59:36  T15002   True  A  220
2  2023-04-12 06:01:49  T15003  False  D  227
3  2023-04-12 06:03:38  T15004  False  B  234
4  2023-04-12 06:05:17  T15005   True  D  239

In [ ]:
#Extract values to list
p1_total = df['P1'].tolist()
p2_total = df['P2'].tolist()
p3_total = df['P3'].tolist()

In [ ]:
#input parameters
p1 = [True, False]
p2 = ['A','B','C','D']
p3 = range(201,251)

# Task 1

In [ ]:
total_comb = len(p1) * len(p2) * len(p3)
print(f"Total number of possible combinations: {total_comb}")

Total number of possible combinations: 400

# Task 2

In [ ]:
unique_comb = df[['P1', 'P2', 'P3']].drop_duplicates()
num_unique_combinations = len(unique_comb)
print(f"Number of different combinations in the CSV file: {num_unique_combinations}")

Number of different combinations in the CSV file: 211

# Task 3

In [ ]:
input_coverage = int(round((num_unique_combinations / total_comb) * 100))
print(f"Input coverage of the test scenario: {input_coverage}%")

Input coverage of the test scenario: 53%