<a href="https://colab.research.google.com/github/LakshanJayawardana/RechargeYourPython/blob/main/%5BRecharge_your_Python%5D_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(r'/content/task9_data.csv')
print(df.head())

     ID   A   B
0  1001  15  95
1  1002  14  47
2  1003  10  15
3  1004  17  95
4  1005  12  39

In [ ]:
A = set(df["A"])
B = set(df["B"])
print(A)
print(B)

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22}
{39, 71, 15, 47, 79, 23, 87, 55, 31, 63, 95}

# Task 1

In [ ]:
print(f"Value:{A.intersection(B)}")

Value:{15}

# Task 2

In [ ]:
print(f"Max value : {min(B-A)}")

Max value : 23

In [ ]:
st=set()
for i in range(len(df)-1):
  st.add(tuple([df.iloc[i][1],df.iloc[i][2]]))

print(f"Number of combinations of A and B values are in the data rows: {len(st)}")

Number of combinations of A and B values are in the data rows: 67