<a href="https://colab.research.google.com/github/LakshanJayawardana/RechargeYourPython/blob/Recharge-your-Python%5D-%233/%5BRecharge_your_Python%5D_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
xy_coordinates = [(-27, -12), (84, 5), (-24, -40), (77, 27), (-40, 47), (74, -55), (-54, 25), 
(1, 54), (-2, 83), (39, 52), (85, 28), (-63, 89), (-36, 26), (79, -40), (16, 42), (73, -85), 
(-23, -31), (35, -44), (93, 11), (-55, -29), (80, 41), (-71, 7), (29, 43), (-66, -55), (-46, 77), 
(-34, -73), (-77, -16), (23, -50), (42, -62), (59, 44), (84, 96), (15, -56), (-61, 49), (34, -15), 
(-41, 32), (46, -26), (-10, 51), (-7, -35), (91, 58), (-70, 95), (-68, -3), (94, 70), (-67, 98), (-29, 84), 
(-68, -60), (7, -69), (77, -85), (69, -51), (-3, 43), (95, -39), (-13, -16), (32, -60), (-15, -26), (4, -45), 
(61, -6), (-76, -68), (-53, 10), (90, 38), (-17, -65), (-5, 10), (13, -42), (36, 36), (-25, 5), (72, 37), 
(53, 32), (68, 85), (-64, -47), (-18, -4), (45, -11), (-2, -25), (10, 42), (88, 70), (71, 49), (-37, -44), 
(-77, 42), (73, 91), (-70, -72), (51, 93), (99, 37), (44, -29), (-19, -44), (-40, 7), (-18, 76), (44, -41), 
(41, -43), (57, -33), (94, 73), (83, 45), (-56, -17), (2, 57), (16, 13), (8, -30), (92, 1), (54, -55), 
(12, -84), (-33, 93), (99, -54), (-22, 0), (26, 0), (-62, 73)]

1. What is the average value of the second coordinate 
in xy_coordinates?
2. How many points in xy_coordinates are more than 100 units away from the origin (center of coordinates)?
3. What is the minimum distance between two points in the xy_coordinates list?

In [ ]:
len(xy_coordinates)

100

# Question1

In [ ]:
print(sum(tup[1] for tup in xy_coordinates)/len(xy_coordinates))

5.0

# Question 2

In [ ]:
import math
distances = []
count=0
origin = (0,0)
for tup1 in xy_coordinates:
  distance = math.sqrt( ((origin[0]-tup1[0])**2)+((origin[1]-tup1[1])**2) )
  distances.append(distance)

for i in distances:
  if i > 100:
    count+=1
print(count)

18

# Question3

In [ ]:
from itertools import combinations
distances = []
a = combinations(xy_coordinates,2)
for data in a:
  distance = math.sqrt((data[1][0] - data[0][0])**2 + (data[1][1] - data[0][1])**2)
  distances.append(distance)
print(min(distances))

3.0

In [ ]:
print(max(tup[0] for tup in xy_coordinates))

99