<a href="https://colab.research.google.com/github/LakshanJayawardana/RechargeYourPython/blob/Recharge-your-Python%5D-%236/%5BRecharge_your_Python%5D_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name_stat = [{"name":"John", "count":4403862, "gender":"male"},

{"name":"Christopher", "count":2044437, "gender":"male"},

{"name":"Patricia", "count":1555054, "gender":"female"},

{"name":"Daniel", "count":1900488, "gender":"male"},

{"name":"Richard", "count":2439835, "gender":"male"},

{"name":"Michael", "count":4340931, "gender":"male"},

{"name":"Steven", "count":1283686, "gender":"male"},

{"name":"Jessica", "count":1047000, "gender":"female"},

{"name":"Andrew", "count":1255723, "gender":"male"},

{"name":"Donald", "count":1323467, "gender":"male"},

{"name":"Mary", "count":3124584, "gender":"female"},

{"name":"Barbara", "count":1391959, "gender":"female"},

{"name":"Anthony", "count":1407623, "gender":"male"},

{"name":"Thomas", "count":2143281, "gender":"male"},

{"name":"Linda", "count":1448283, "gender":"female"},

{"name":"Joshua", "count":1226213, "gender":"male"},

{"name":"Paul", "count":1263912, "gender":"male"},

{"name":"Elizabeth", "count":1411916, "gender":"female"},

{"name":"Robert", "count":4407377, "gender":"male"},

{"name":"James", "count":4663035, "gender":"male"},

{"name":"Charles", "count":2060835, "gender":"male"},

{"name":"Susan", "count":1103018, "gender":"female"},

{"name":"Joseph", "count":2317860, "gender":"male"},

{"name":"Jennifer", "count":1469031, "gender":"female"},

{"name":"Mark", "count":1348322, "gender":"male"},

{"name":"David", "count":3564313, "gender":"male"},

{"name":"Matthew", "count":1614109, "gender":"male"},

{"name":"William", "count":3524670, "gender":"male"}]

1. How many female names are in the list?
2. Which male name has the maximum count?
3. What is the total count for female names, which end with letter "a"?

# Task 1

In [ ]:
females = [dictionary for dictionary in name_stat if dictionary["gender"]=="female"]
numberOfFemales = len(females)
print(numberOfFemales)

8

# Task 2

In [ ]:
maxCount = max([dictionary["count"] for dictionary in name_stat if dictionary["gender"]=="male"])

for dictionary in name_stat:
  if dictionary["count"] == maxCount:
    print(dictionary["name"])

James

# Task 3

In [ ]:
femaleNamesEnd_a = [int(dictionary["count"]) for dictionary in name_stat if (dictionary["gender"]=="male")]
totCntOfFemaleNamesEnd_a = sum(femaleNamesEnd_a)
print(totCntOfFemaleNamesEnd_a)

48533979