<a href="https://colab.research.google.com/github/LakshanJayawardana/RechargeYourPython/blob/main/%5BRecharge_your_Python%5D_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('traffic11.csv')

In [ ]:
df.head()

,#timestamp,#source,#messagetype,SecondaryTrdType,ExecRefID,ClearingIntention,TradeDate,MassActionType,NoTargetPartyIDs,MessageLength,...,LastQty,LeavesQty,AggressorIndicator,SecondaryClOrdID,OrdType,Text,Currency,NoLegs,MassActionRejectReason,SendingTime
0,T1677485902591193901,OAP1_FIX_TRAFFIC_FILE_OUT_1.dat,Logon,NaN,NaN,NaN,NaN,NaN,NaN,95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20230227-08:18:22.584240
1,T1677485902618000682,OAP1_FIX_TRAFFIC_FILE_IN_1.dat,Logon,NaN,NaN,NaN,NaN,NaN,NaN,98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20230227-08:18:22.615779
2,T1677485902620720834,OAP2_FIX_TRAFFIC_FILE_OUT_1.dat,Logon,NaN,NaN,NaN,NaN,NaN,NaN,95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20230227-08:18:22.584240
3,T1677485902652430525,OAP2_FIX_TRAFFIC_FILE_IN_1.dat,Logon,NaN,NaN,NaN,NaN,NaN,NaN,98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20230227-08:18:22.650247
4,T1677485932618774310,OAP1_FIX_TRAFFIC_FILE_IN_1.dat,HeartBeat,NaN,NaN,NaN,NaN,NaN,NaN,66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20230227-08:18:52.616498

# Task 1

In [ ]:
nullColumns=0
for i in range(len(df.columns)):
  if df.isna().sum()[i]==len(df):
    nullColumns+=1

print(f"How many columns are empty?: {nullColumns}")

How many columns are empty?: 36

# Task 2

In [ ]:
listOfColumns=[]
uniqVal = set()
df1=df.copy()
for i in range(len(df1.columns)-1):
  if df1.iloc[:,i].isna().sum() != len(df):
    df1.iloc[:,i]=df1.iloc[:,i].fillna("task")

    listOfColumns.append(set(df1.iloc[:,i]))
  



print(f"How many non-empty columns have less than 10 different values (empty value is also a separate value)?: {len([col for col in listOfColumns if len(col)>25])}")

How many non-empty columns have less than 10 different values (empty value is also a separate value)?: 12

# Task 3

In [ ]:
priceSet=set()
for i in range(len(df)):
  if df["MsgType"][i]=="A":
    priceSet.add(df["Price"][i])

print(f"How many different values of Price are used for NewOrderSingle message type?: {len(priceSet)}")

How many different values of Price are used for NewOrderSingle message type?: 4

In [ ]:
listOfColumns=[]
uniqVal = set()
df1=df.copy()
for i in range(len(df1.columns)-1):
  if df1.iloc[:,i].isna().sum() != len(df):
    df1.iloc[:,i]=df1.iloc[:,i].fillna("task")

    listOfColumns.append(set(df1.iloc[:,i]))
  



print(f"How many non-empty columns have less than 10 different values (empty value is also a separate value)?: {len([col for col in listOfColumns if len(col)>25])}")

How many non-empty columns have less than 10 different values (empty value is also a separate value)?: 47